@use '../mixins/breakpoints' as *;

.Header {
  padding-top: clamp(2.5rem, 2.876vw + 1.826rem, 3.875rem);
  padding-bottom: clamp(4rem, 8.235vw + 2.07rem, 7.938rem);

  &-nav {
    position: relative;

    &::before {
      display: none;
      border: 1px solid red;
      content: '';
      max-width: 24rem;
      min-width: 20rem;
      aspect-ratio: 1 / 1;
      background-color: red;

      opacity: 0.35;
      background: #ff7b40;
      filter: blur(67.95704650878906px);
      position: absolute;
      top: -200px;
      left: -15rem;
      top: -10rem;
      z-index: -1;

      @include breakpoint(s) {
        display: block;
      }
    }
  }

  &-logo {
    max-width: 9.125rem;
    max-height: 2rem;
  }
}
