@use '../mixins/breakpoints' as *;

.Hero {
  overflow-x: clip;

  & .u-wrapper {
    position: relative;
    &::after {
      display: none;
      content: '';
      position: absolute;
      top: -250px;
      z-index: -1;
      width: 110%;
      height: 200%;
      background-image: url('../bg-pattern-1.svg');
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 16.625rem 25rem;

      @include breakpoint(m) {
        display: block;
        top: -230px;
      }

      @include breakpoint(l) {
        display: block;
        width: 110%;
        background-size: 19.5rem 29.25rem;
        top: -270px;
      }
    }
  }

  &-content {
    width: 100%;

    @include breakpoint(m) {
      width: 77%;
    }

    @include breakpoint(l) {
      width: 80%;
    }

    font-size: var(--fs-heading-l);
    color: var(--clr-body);

    position: relative;

    padding-bottom: 1.5em;

    &::before,
    &::after {
      content: '';
      max-width: 24rem;
      min-width: 20rem;
      aspect-ratio: 1 / 1;
      background-color: red;

      opacity: 0.35;

      filter: blur(67.95704650878906px);
      position: absolute;
      right: -10rem;
    }

    &::before {
      z-index: -2;
      background: #40fff6;
      top: -15rem;
    }

    &::after {
      z-index: -1;

      top: 0;
    }
  }

  &-h1 {
    font-size: var(--fs-heading-l);
    font-weight: var(--fw-bold);
    line-height: var(--lh-heading-l);

    margin-bottom: 0.5em;

    position: relative;
  }

  &-p {
    font-size: var(--fs-body-primary);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body);
  }
}
