@use '../mixins/breakpoints' as *;

.Plan {
  overflow-x: clip;
  padding: 170px 0 4rem 0;

  position: relative;

  & .u-wrapper {
    width: 100%;
    @include breakpoint(m) {
      width: min(69.375rem, 90%);
    }
  }

  &-content {
    width: 100%;
    min-height: 37.5rem;

    background-color: var(--clr-dark-blue);
    background-image: url('./bg-pattern-2.svg');
    background-repeat: no-repeat;
    background-size: 290px;
    background-position: top center;
    display: grid;
    justify-items: center;

    border-radius: 0 0 1.25rem 1.25rem;

    @include breakpoint(m) {
      border-radius: 1.25rem;
    }

    @include breakpoint(l) {
      position: relative;
      &::after {
        content: '';
        max-width: 24rem;
        min-width: 20rem;
        aspect-ratio: 1 / 1;
        background-color: red;

        opacity: 0.35;

        filter: blur(67.95704650878906px);
        position: absolute;
        right: -10rem;
        background: #ff7b40;
        bottom: -10rem;
        z-index: -1;
      }
    }
  }

  &-div {
    width: min(56.25rem, 100%);
    margin: 0 auto;

    @include breakpoint(m) {
      position: relative;
      width: min(56.25rem, 90%);
    }
  }

  &-imgWrapper {
    width: clamp(13rem, 13.595vw + 9.814rem, 19.5rem);
    height: clamp(26.875rem, 27.712vw + 20.38rem, 40.125rem);
    margin: -6.25rem auto 3rem auto;

    position: relative;

    @include breakpoint(m) {
      position: absolute;
      left: 0;
      top: -50px;
    }
  }
}

.Article {
  width: 100%;
  background-color: var(--clr-orange);
  border-radius: 20px;

  padding: 48px 37px;

  position: relative;

  @include breakpoint(m) {
    min-width: 25rem;
    max-width: 27.875rem;

    position: absolute;
    right: 0;
    bottom: -100px;
  }

  &-h2 {
    font-size: var(--fs-heading-m);
    font-weight: var(--fw-bold);
    line-height: var(--lh-heading-m);
    color: var(--clr-white);

    margin-bottom: 12px;
  }

  &-p {
    font-size: var(--fs-body-primary);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body);
    color: var(--clr-white);

    margin-bottom: 30px;
  }

  &-price {
    font-size: 65px;
    font-weight: 700;
    color: var(--clr-white);

    display: flex;
    align-items: center;
    gap: 18px;

    margin-bottom: 32px;
  }

  &-month {
    font-size: var(--fs-body-primary);
    font-weight: var(--fw-regular);
  }

  &-btn {
    width: 100%;
    display: flex;
    gap: 0.4375rem;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    padding: 1.0625rem 0;

    cursor: pointer;

    transition: background 0.4s ease;
  }

  &-btn--ios {
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);

    margin-bottom: 1.125rem;

    &:hover,
    &:focus-visible {
      background-color: var(--clr-light-blue);
    }
  }

  &-btn--android {
    background-color: var(--clr-white);
    color: var(--clr-dark-blue);

    &:hover,
    &:focus-visible {
      background-color: var(--clr-light-orange);
    }
  }

  &-icon {
    width: 1.125rem;
    aspect-ratio: 1 / 1;
  }
}
